.animate-listing.ng-enter,
.animate-listing.ng-leave {
  transition:0.2s linear all;
}

.animate-listing.ng-leave-stagger,
.animate-listing.ng-enter-stagger {
  transition-delay:0.05s;
  -webkit-transition-delay:0.05s;
  transition-duration:0;
  -webkit-transition-duration:0;
}

.animate-listing.ng-enter {
  transform:translate(0px, -2px);
  -webkit-transform:translate(0px, -20px);
  opacity:0;
}
.animate-listing.ng-enter.ng-enter-active {
  transform:translate(0px, 0px);
  -webkit-transform:translate(0px, 0px);
  opacity:1;
}

.animate-listing.ng-leave {
  transform:translate(0px, 0px);
  -webkit-transform:translate(0px, 0px);
  opacity:1;
}
.animate-listing.ng-leave.ng-leave-active {
  transform:translate(0px, -20px);
  -webkit-transform:translate(0px, -20px);
  opacity:0;
}

.animate-comment.ng-enter,
.animate-comment.ng-leave {
  transition:0.1s linear all;
  position:relative;
}
.animate-comment.ng-enter {
  opacity:0;
  left:50px;
}
.animate-comment.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}
.animate-comment.ng-leave {
  left:0;
  opacity:1;
}
.animate-comment.ng-leave.ng-leave-active {
  left:-50px;
  opacity:0;
}
.animate-comment.ng-leave-stagger,
.animate-comment.ng-enter-stagger {
  transition-delay:0.05s;
  -webkit-transition-delay:0.05s;
  transition-duration:0;
  -webkit-transition-duration:0;
}

.fade-animation.ng-enter {
  transition:0.5s linear all;
  opacity:0.5;
}

.fade-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.expand-horizontally.ng-enter,
.expand-horizontally.ng-leave {
  transition:0.5s linear all;
}
.expand-horizontally.ng-enter {
  max-width:0%;
}
.expand-horizontally.ng-enter.ng-enter-active {
  max-width:100%
}
.expand-horizontally.ng-leave.ng-leave-active {
  width:0%;
  opacity:0;
}

.reveal-animation.ng-enter {
  transition:0.5s cubic-bezier(0.42,0,0.58,1) all;
  max-height:0;
  opacity:0;
}

.reveal-animation.ng-enter.ng-enter-active {
  opacity:1;
  max-height:600px;
}
