.animate-listing {
  transition:0.5s linear all;
}

.animate-listing.ng-enter {
  max-width:0;
  opacity:0;
}
.animate-listing.ng-enter-active {
  max-width:300px;
  opacity:1;
}

.animate-listing.ng-leave {
  max-width:300px;
  opacity:1;
}
.animate-listing.ng-leave-active {
  max-width:0;
  opacity:0;
}

.animate-view.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.animate-view.ng-enter.ng-enter-active {
  opacity:1;
}
