<div class="search-toggles">
  <div class="row">
    <div class="three columns">
      {{ comments.length }} comments found
    </div>
    <div class="nine columns align-right">
      <input type="search" ng-model="q" />
    </div>
  </div>
</div>
<div class="row">
  <div ng-repeat="comment in comments" class="comment-listing">
    <h4>
      <a ng-href="#/users/{{ comment.user.id }}">{{ comment.visitor.first_name }} {{ comment.visitor.last_name }}</a>
      <sub>
        to {{ comment.user.first_name }} {{ comment.user.last_name }}
      </sub>
    </h4>
    <img ng-src="{{ comment.visitor.picture.thumb }}" />
    <p>
      {{ comment.message }}
    </p>
  </div>
</div>
