<div class="search-toggles">
  <div class="row">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
  </div>
</div>
<div class="row">
  <div>
    <img ng-src="{{ user.picture.large }}" />
    <ul class="user-details">
      <li>
        Location: {{ user.location }}
      </li>
      <li>
        Age: {{ user.age }}
      </li>
      <li>
        Email: {{ user.email }}
      </li>
    </ul>
    <p>
      {{ user.info }}
    </p>
  </div>
</div>
<div class="search-toggles">
  <div class="row">
    <h3>New Comments</h3>
  </div>
</div>
<div class="row">
  <div ng-repeat="comment in comments" class="comment-listing animate-comment">
    <h4>
      <a ng-href="#/users/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
    </h4>
    <img ng-src="{{ comment.visitor.picture.thumb }}" />
    <p>
      {{ comment.user.first_name }} {{ comment.user.last_name }} to
      {{ comment.visitor.first_name }} {{ comment.visitor.last_name }}
    </p>
    <p>
      {{ comment.message }}
    </p>
  </div>
</div>
